<!doctype html>
<head>
  <title>Game Rental System</title>
  <meta charset="utf-8">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }} ">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/skins/_all-skins.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
   <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/star.js') }}"></script>
</head>
  {% block body %}{% endblock %}
</html>